# Archivos de entorno y credenciales
.env
.env.*
*.pem
*.key
*.token.json
credentials.json

# Directorios de dependencias y compilación
node_modules/
dist/
build/
.tmp/

# Logs del sistema
*.log
npm-debug.log*

# Configuraciones locales de IDEs
.vscode/
.idea/
.DS_Store
